/*
  .nama-kolom {
    width: 50px;
    overflow-x: auto;
  } */
/* .table-container {
    overflow-x: auto;
  }

  .table-striped th.nama-kolom,
  .table-striped td.nama-kolom {
    width: 100px;
    white-space: nowrap;
  } */
